<header class="header">
	<div class="header__head">
		<div class="shell">
			<div class="header__inner">
				<app-socials [socials]="socials"></app-socials>
			
				<app-nav-utils [nav]="navUtils"></app-nav-utils>
			</div><!-- /.header__inner -->
		</div><!-- /.shell -->
	</div><!-- /.header__head -->

	<div class="header__main">
		<div class="shell">
			<div class="header__inner">
				<a routerLinnk="" class="logo">Зодия Любов</a>

				<app-nav [nav]="navMain"></app-nav>
			</div><!-- /.header__inner -->
		</div><!-- /.shell -->
	</div><!-- /.header__main -->
</header><!-- /.header -->
