<footer class="footer">
	<div class="footer__main">
		<div class="shell">
			<div class="overlay"></div><!-- /.overlay -->
		
			<div class="footer__inner">
				<app-widget [title]="widgetTitle[0]" [list]="widgetList[0]"></app-widget>

				<app-widget [title]="widgetTitle[1]" [list]="widgetList[1]"></app-widget>
			</div><!-- /.footer__inner -->
		</div><!-- /.shell -->
	</div><!-- /.footer__main -->

	<div class="footer__foot">
		<div class="shell">
			<p class="copyright">{{ copyright }}</p><!-- /.copyright -->
		</div><!-- /.shell -->
	</div><!-- /.footer__foot -->
</footer><!-- /.footer -->