<footer class="footer">
	<div class="footer__main">
		<div class="shell">
			<div class="widgets">
				<div class="widget widget-list">
					<div class="widget__head">
						<h3>Работно време</h3>
					</div><!-- /.widget__head -->

					<div class="widget__body">
						<ul>
							<li>Понеделник-Петък: 09:00 - 19:00</li>

							<li>Събота: 09:00 - 18:00</li>

							<li>Неделя - почивен ден</li>
						</ul>
					</div><!-- /.widget__body -->
				</div><!-- /.widget widget-list -->

				<div class="widget widget__links">
					<div class="widget__head">
						<h3>Контакти</h3>
					</div><!-- /.widget__head -->

					<div class="widget__body">
						<ul>
							<li>
								<span>Адрес</span>

								<a href="#">Студентска 1</a>
							</li>

							
							<li>
								<span>Телефон</span>

								<a href="#">555 338 148</a>
							</li>

							
							<li>
								<span>Имейл</span>

								<a href="#">zodialiubov@example.com</a>
							</li>
						</ul>
					</div><!-- /.widget__body -->
				</div><!-- /.widget widget__links -->
			</div><!-- /.widgets -->
		</div><!-- /.shell -->
	</div><!-- /.footer__main -->

	<div class="footer__foot">
		<div class="shell">
			<div class="shell">
				<p class="copyright">2018 © Зодия Любов Всички права запазени. </p><!-- /.copyright -->
			</div><!-- /.shell -->
		</div><!-- /.shell -->
	</div><!-- /.footer__foot -->
</footer><!-- /.footer -->