<div class="section">
	<div class="shell">
		<div class="section__head">
			<h2>Контаки</h2>
		</div><!-- /.section__head -->

		<div class="section__body">
			<div class="form form-contact">
				<form action="?" method="post">					
					<div class="form__body">
						<div class="form__row">
							<label for="field-name" class="form__label">Име</label>
							
							<div class="form__controls">
								<input type="text" class="field" name="field-name" id="field-name" value="" placeholder="Име">
							</div><!-- /.form__controls -->
						</div><!-- /.form__row -->

						<div class="form__row">
							<label for="field-email" class="form__label">Имейл</label>
							
							<div class="form__controls">
								<input type="email" class="field" name="field-email" id="field-email" value="" placeholder="Имейл">
							</div><!-- /.form__controls -->
						</div><!-- /.form__row -->

						<div class="form__row">
							<label for="field-email" class="form__label">Съобщение</label>

							<textarea name="field-message" id="" cols="30" rows="10"  placeholder="Съобщение"></textarea>
						</div><!-- /.form__row -->
					</div><!-- /.form__body -->
					
					<div class="form__actions">
						<input type="submit" value="Изпрати" class="form__btn">
					</div><!-- /.form__actions -->
				</form>
			</div><!-- /.form -->
		</div><!-- /.section__body -->
	</div><!-- /.shell -->
</div><!-- /.section -->