<div class="section">
	<div class="shell">
		<div class="section__head">
			<h2>{{ articleContent.title }}</h2>
		</div><!-- /.section__head -->

		<div class="section__body">
			<div class="article">
				<div class="article__entry" [innerHTML]="articleContent.entry"></div><!-- /.article__entry -->
				
				<div class="article__image">
					<img src="./assets/images/{{ articleContent.image }}">
				</div><!-- /.article__image -->
			</div><!-- /.article -->
		</div><!-- /.section__body -->
	</div><!-- /.shell -->
</div><!-- /.section -->