/* ------------------------------------------------------------ *\
	Settings
\* ------------------------------------------------------------ */
:root {
	--font-family		: 'Philosopher', sans-serif;
	
	--font-size-base			: 18px;
	--line-height-base			: 1.3;
	
	--shell-max-width			: 1300px;
	--shell-gutter				: 20px;
	
	--c-white 					: #fff;
	--c-gray 					: #333;
	--c-pink 					: #d83f87;
	--c-purple					: #44318d;
	--c-purple-dark				: #2a1b3d;
	--c-purple-light			: #e98074;
	--c-casper					: #a4b3b6;
}

/* ------------------------------------------------------------ *\
	Reset
\* ------------------------------------------------------------ */

* { padding: 0; margin: 0; outline: 0; box-sizing: border-box; }

*:before,
*:after { box-sizing: inherit; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main { display: block; }

template { display: none; }

img,
iframe,
video,
audio,
object { max-width: 100%; }

img,
iframe { border: 0 none; }

img { height: auto; display: inline-block; vertical-align: middle; }

b,
strong { font-weight: bold; }

address { font-style: normal; }

svg:not(:root) { overflow: hidden; }

a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="image"],
label[for] { cursor: pointer; }

button[disabled],
input[disabled],
textarea[disabled],
select[disabled] { cursor: default; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
a[href^="tel"] { appearance: none; }

textarea { overflow: auto; }

button,
input,
select,
textarea { font-family: inherit; font-size: inherit; color: inherit; }

button,
select { text-transform: none; }

nav ul,
nav ol { list-style: none outside none; }

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body { min-width: 320px; background: #fff; font-family: var( --font-family ); font-size: var( --font-size-base ); line-height: var( --line-height-base ); color: #000; overflow-x: hidden; }

a { color: inherit; text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: calc( var( --line-height-base )em / 2); }

h1 { font-size: 32px ; }
h2 { font-size: 24px ; }
h3 { font-size: 20.8px ; }
h4 { font-size: 16px ; }
h5 { font-size: 12.8px ; }
h6 { font-size: 11.2px ; }

p,
ul,
ol,
dl,
hr,
table,
blockquote { margin-bottom: var( --line-height-base )em; }

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child { margin-bottom: 0; }

/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper { min-height: 100vh; }

/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */

.shell { max-width: calc( var( --shell-max-width ) + var( --shell-gutter ) * 2 ); padding-left: var( --shell-gutter ); padding-right: var( --shell-gutter ); margin: auto; }

/* ------------------------------------------------------------ *\
	Slick Carousel
\* ------------------------------------------------------------ */

.slick-slider { margin-bottom: 0 !important; }
.slick-slider .slick-slide { height: 90vh; }
.slick-slider .slick-slide img { width: 100%; height: 100%; object-fit: cover; }
.slick-slider .slick-dots { bottom: 10px !important; }
.slick-slider .slick-dots li button:before { font-size: 12px; color: var( --c-white ); }
.slick-slider .slick-dots .slick-active button:before { color: var( --c-pink ); }

/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section { padding: 50px 0; color: var( --c-white ); }

.section .section__head { text-align: center; margin-bottom: 40px; }
.section .section__head h2 { font-size: 32px; }

.section .section__body p { line-height: 1.5; margin-bottom: 20px; }

.section-wrapper .section { background-color: var( --c-purple ); }
.section-wrapper ~ .section-wrapper .section { border-top: 1px solid var( --c-purple-dark );  }
.section-wrapper:nth-child(even) .section { background-color: var( --c-purple-light ); }

/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form-search { position: relative; }

.form-search .field { padding: 4px 10px; }
.form-search .field::placeholder { color: var(--c-gray); opacity: .9; }

.form-search .form__btn { background-color: transparent; }
.form-search .form__label { display: none; }

.form-search .field,
.form-search .form__btn { border: none; color: var( --c-gray ); }

.form-search .form__actions { position: absolute; top: 50%; right: 5px; transform: translateY( -50% ); }

/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav ul { display: flex; align-items: center; list-style: none; margin: 0 -15px; }
.nav li { margin: 0 15px; }
.nav fa-icon { margin-right: 5px; }

/* ------------------------------------------------------------ *\
	Accordion Wrapper
\* ------------------------------------------------------------ */

.accordion-wrapper { padding: 60px 0; background-color: var( --c-purple ); color: var( --c-white ); }

.accordion-wrapper .accordion-wrapper__inner { margin: 0 60px; background-color: var( --c-purple-light ); border-radius: 6px; box-shadow: 0 0 10px rgba( 0, 0, 0, .6 ); }
.accordion-wrapper .mat-expansion-panel-spacing { margin: 0; }

.accordion-wrapper li ~ li { margin-top: 10px; }

.accordion-wrapper mat-accordion { background-color: #000;  }
.accordion-wrapper mat-expansion-panel-header { font-size: 28px; }
.accordion-wrapper mat-expansion-panel { border: 1px solid var( --c-purple-dark ); border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.accordion-wrapper mat-expansion-panel ~ mat-expansion-panel { border-top-left-radius: 0; border-top-right-radius: 0; }
.accordion-wrapper mat-expansion-panel .mat-expansion-panel-content { border-top: 1px solid #000; padding: 15px 0 0 15px; }