/* ------------------------------------------------------------ *\
	Socials
\* ------------------------------------------------------------ */

.socials ul { display: flex; list-style: none; margin: 0 -15px; }
.socials li { margin: 0 15px; }