<div class="section">
	<div class="shell">
	    <div class="section__head">
	        <h2>{{ team.title }}</h2>
	    </div><!-- /.section__head -->

	    <div class="section__body">
	        <div class="team">
	            <div class="team-member" *ngFor="let member of team.members">
	                <div class="team-member__img">
	                	<img src="./assets/images/{{ member.image }}" alt="">
	                </div><!-- /.team-member__img -->

	                <h4>{{ member.name }}</h4>
	            </div><!-- /.team-member -->
	        </div><!-- /.team -->
	    </div><!-- /.section__body -->
	</div><!-- /.shell -->
</div>