/* ------------------------------------------------------------ *\
	Nav Main
\* ------------------------------------------------------------ */

.nav-main ul { font-size: 20px; text-transform: uppercase; margin: 0 -25px; } 
.nav-main li { margin: 0 25px; } 